*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.produect-cards__background {
    background-image: url(../images/bg_picture.png);
    background-repeat: no-repeat;
}

.product-cards__title {
    padding-top: 220px;
    margin-bottom: 135px; 
}

.title {
    text-align: center;
    color: rgb(81, 80, 118);
    font-size: 70px;
    line-height: 78px;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.clear-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    background-color: #F7F7FA;
    padding: 25px;
    width: 100%;
}

.cards-list__item {
    max-width: 340px;
}

.card__image {
    display: block;
    width: 290px;
    height: 245px;
}

.card__category {
    font-size: 12px;
    line-height: 24px;
    color: rgb(165, 163, 185);
    text-transform: uppercase;
    display: block;
    margin-top: 30px;
}

.card__title {
    margin-top: 5px;
    color: rgb(81, 80, 118);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.list__title {
    margin-top: 15px;
    color: rgb(81, 80, 118);
    display: inline-block;
}

.card__text,
.composition__item {
    margin-top: 5px;
    color: rgb(81, 80, 118);
}

.composition__list {
    margin-left: 16px;
}

.price {
    display: flex;
    font-size: 20px;
    line-height: 24px;
    justify-content: space-between;
    margin-top: 25px;
}

.price__text {
    font-weight: 700;
}

.card__text {
    max-width: 290px;
}